.dashboard-container {
  display: flex;
  height: 100vh;
}

.dashboard-section {
  flex: 1;
  padding: 0px 20px 20px 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.search-books {
  position: relative;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1000;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.sticky-header h3 {
    color: #3751FE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
}

.sticky-header input,
.sticky-header button {
  margin: 10px 0;
}

.sticky-header input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 120px);
}

.sticky-header button {
  padding: 10px;
  border: none;
  background-color: #3751FE;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.sticky-header button:hover {
  background-color: #0044cc;
}

.borrow-books, .borrowed-books {
  background-color: #f4f4f4;
}

.borrow-books form {
  display: flex;
  flex-direction: column;
}

.borrow-books input, .borrow-books button {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 375px;
}

.borrow-books button {
  background-color: #3751FE;
  color: white;
  border: none;
  cursor: pointer;
}

.borrow-books button:hover {
  background-color: #0044cc;
}

.borrowed-books ul {
  list-style-type: none;
  padding: 0;
}

.borrowed-books li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.borrow-books h3 {
    padding-top: 20px;
    color: #3751FE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
}

.borrowed-books h3 {
    padding-top: 20px;
    color: #3751FE;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 0;
}

input[readonly] {
  background-color: #f4f4f4;
  cursor: not-allowed;
}
